.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.document {
  display: flex;
  justify-content: center;
  height: 97vh;
  flex-direction: column;
  align-items: center;
}

.buttonsList {
  display: flex;
  flex-direction: row;
}
.number {
  font-size: 128px;
  margin-bottom: 25px;
}